body {
  margin: 0;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 950px;
}

#gameelement {
  width: 300px;
  border: 2px solid green;
  transition: 0, 8s;
}
